*,
*:before,
*:after {
    box-sizing: border-box;
}

.h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
 }

 .header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    left: 0;
    right: 0;
    z-index: 1000;

    background-color: #000;
 }

 .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

 .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}



.btn__headphon  {
    text-decoration: none;
    color: #fff;

    transition: color .1s linear;


}

.btn__headphon:hover {
    color: #beca0e;
}

/* NAVIGATION */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}


.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #beca0e;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #beca0e;
} 

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 93vh;
    min-height: 720px;
    position: relative;

    background: url("../image/about/1.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    color: #fff;
}

.intro__title {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
}

.intro__suptitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
}

.arrow {
    font-size: 50px;
    width: 60px; 
    height: 100px;
    margin-left: 0px;
    position: absolute;
    bottom: 1px;
    left: 49%;
   
}

.MT {
    margin-top: 30px;
}

.title {
    font-size: 24px;
}

.text {
    margin: 0px 10px 20px 20px;
}