.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    left: 0;
    right: 0;
    z-index: 1000;

    background-color: #000;
 }

 .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

 .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}



.btn__headphon  {
    text-decoration: none;
    color: #fff;

    transition: color .1s linear;


}

.btn__headphon:hover {
    color: #beca0e;
}

/* NAVIGATION */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}


.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #beca0e;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #beca0e;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
 }

 .pages__inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
     width: 760px;
 }

.pages__inner-developer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    margin: 15px 0 15px 0;
 }

 .pages__inner-developer img {
     width: 360px;
 }
 .pages__inner-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    margin: 15px 0 15px 0;
 }
.list {
    margin: 40px;
    line-height: 1.5;
}
 .name {
     font-family: 'Kaushan Script', cursive;
     text-transform: uppercase;
     color: red;
 }